      html {
        scroll-behavior: smooth;
      }
      #home {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 3%;
      }
      #about {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 9%;
      }
      #service {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 15%
      }
      #contact {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 21%;
      }
      h1 {
        position: fixed;
        top: 40%;
        left: 50%;
        color:white;
        text-align: center;
        transform: translateX(-50%);
      }
      h2 {
        position: fixed;
        top: 60%;
        left: 50%;
        color: white;
        text-align: center;
        transform: translateX(-50%);
      }
      body {
        background-image: url("hNMio7.webp"); 
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
      }
      #logo {
        border-radius: 50%;
        position: fixed;
        top: 15px;
        right: 15px;
      }
