      html {
        scroll-behavior: smooth;
      }
      #home {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 3%;
      }
      #about {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 9%;
      }
      #service {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 15%
      }
      #contact {
        color: white;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 21%;
      }
      #indexh1 {
        position: fixed;
        top: 40%;
        left: 50%;
        color:white;
        text-align: center;
        transform: translateX(-50%);
      }
      #indexh2 {
        position: fixed;
        top: 60%;
        left: 50%;
        color: white;
        text-align: center;
        transform: translateX(-50%);
      }
      #indexbody {
        background-image: url("hNMio7.webp"); 
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
      }
      #logo {
        border-radius: 50%;
        position: fixed;
        top: 15px;
        right: 15px;
      }
        #abouth1 {
          color: black;
          text-align: center;
          top: 15%;
          size: 30px;
     }  
        #aboutbody {
          background-image: url("OIP.jpeg"); 
          background-repeat:no-repeat;
          background-size:cover;
          background-attachment: fixed;
     }
         #home1 {
        color: black;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 3%;
      }
      #about1 {
        color: black;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 9%;
      }
      #service1 {
        color: black;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 15%
      }
      #contact1 {
        color: black;
        size: 28px;
        position: fixed;
        top: 3%;
        left: 21%;
      }
      #contactbody {
          background-image: url("R.jpeg"); 
          background-repeat:no-repeat;
          background-size:cover;
          background-attachment: fixed;
        }
